header{
    font-family: fantasy;
    font-size: x-large;
    
}

.logo{
    float: left;
    width: 200px;
    border-radius: 50%;
}
.logo2{
    border-radius: 50%;
    float: right;
    width: 200px;
}
header{
    text-align: center;
}