header{
    text-align: center;
    font-family: cursive;
    font-size: x-large;
    background:linear-gradient(Blue,violet)
}
 .cartel{
    width: 700px;
 }
 .box{
    width: 300px;
    height: 300px;
    background-image: url(images/logos/Github.png);
    background-size: cover;
    border-radius: 50%;
    margin: auto;
 }
 